APP_NAME="Apoorwa LMS PHP"
APP_URL="http://localhost/php-lms/public"
APP_ENV="local"
APP_DEBUG="true"
APP_SESSION_NAME="apoorwa_php_lms"

DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="apoorwa_lms_php"
DB_USER="root"
DB_PASS="password"

